#navbar {
    height: 30px;
    top: 0;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    z-index: 100;
}

#close {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    z-index: 9;
}

#minimize {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 8px;
    z-index: 9;
}

.fa-window-minimize {
    padding-bottom: 5px;
    font-size: 20px;
}

.fa-times {
    font-size: 20px;
}

#minimize:hover .fa-window-minimize {
    color: white;
}

#close:hover .fa-times {
    color: white;
}